@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "./blocks/header.css";
@import "./blocks/main.css";
@import "./blocks/soul.css";
@import "./blocks/catal.css";
@import "./blocks/materials.css";
@import "./blocks/care.css";
@import "./blocks/footer.css";
@import url("./blocks/overlay.css");
@import url(./blocks/burger.css);
@import url(./blocks/novelties.css);
@import url(./blocks/accesories.css);
@import url(./blocks/payments.css);
@import url(./blocks/contacts.css);
@import url(/blocks/catalog-page.css);

$border: 1px solid red;

* {
  box-sizing: border-box;
}

.preloader-3 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.preloader-3 svg {
  max-width: 25em;
  border-radius: 3px;
  background: #FFF;
  fill: none;
  stroke: #BFE2FF;
  stroke-linecap: round;
  stroke-width: 12%
}
.preloader-3 use {
  stroke: #337AB7;
  animation: preloader-3-a 2s linear infinite
}
@keyframes preloader-3-a {
  to { 
      stroke-dashoffset: 0px 
  } 
}