.rope2 {
  position: absolute;
  left: 0;
  top: 2058px;
}

.catal {
  max-width: 880px;
  margin: 50px auto 150px auto;
  max-height: 1034px;
  &__title {
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    margin-bottom: 70px;
  }
  &__frow {
    display: flex;
  }
  &__text {
    max-width: 280px;
    align-self: baseline;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    margin-left: 170px;
    margin-top: 175px;
  }
  &_el {
    max-width: 205px;
    max-height: 344px;
    &:nth-of-type(1) {
      margin-top: 138px;
      margin-right: 34px;
    }
    .el__title {
      margin: 10px auto;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      text-align: center;
    }
    .el__text {
      margin: 0 auto;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      opacity: 0.7;
      text-align: center;
    }
  }
  &__center {
    max-width: 282px;
    margin: -90px auto 90px auto;
    &__title {
      margin: 0 auto;
      font-weight: 400;
      font-size: 30px;
      line-height: 33px;
    }
    &__text {
      position: relative;
      z-index: 12;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      border-bottom: 3px dashed #000000;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      gap: 16px;
      margin-top: 15px;
      &:hover {
        font-weight: 600;
        border-bottom: 3px solid #000000;
      }
      &:active {
        color: #58ff92;
      }
    }
  }
  &__trow {
    display: flex;
    margin-top: -188px;
    &__text {
      margin-top: 225px;
      margin-right: 170px;
      width: 280px;
      height: 66px;
    }
  }
}

@media screen and (max-width: 767px) {
  .catal {
    margin-top: 0;
    margin-bottom: 80px;
  }
  .rope2 {
    display: none;
  }

  .catal__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 40px 0;
    text-align: center;
  }

  .catal_el:nth-of-type(1) {
    margin: 0;
    align-self: start;
  }

  .catal_el {
    align-self: end;
    margin: -170px 0 0 0;
    max-width: 130px;
    max-height: 233px;
    .el__title {
      font-size: 14px;
      line-height: 160%;
      text-align: center;
    }
    .el__text {
      font-size: 14px;
      line-height: 160%;
      text-align: center;
    }
  }

  .catal__frow {
    margin: 0 auto 30px auto;
    max-width: 280px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .catal__text {
      margin: 0 auto 30px auto;
      order: -1;
      text-align: center;
    }
  }
  .catal__trow {
    flex-direction: column;
    margin: 0 auto ;
    max-width: 280px;
    &__text {
      margin: 30px auto 0 auto;
      text-align: center;
      order: 3;
    }
  }
  .catal__center {
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardimg {
    max-width: 121px;
    max-height: 167px;
  }
}

@media screen and (max-width: 768px) {
  .rope2 {
    display: none;
  }
}