.rope2 {
  position: absolute;
  left: 0;
  top: 2058px;
}

.catal {
  max-width: 880px;
  margin: 50px auto 150px auto;
  max-height: 1034px;
}

.catal__title {
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  margin-bottom: 70px;
}

.catal__frow {
  display: flex;
}

.catal__text {
  max-width: 280px;
  align-self: baseline;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  margin-left: 170px;
  margin-top: 175px;
}

.catal_el {
  max-width: 205px;
  max-height: 344px;
}

.catal_el:nth-of-type(1) {
  margin-top: 138px;
  margin-right: 34px;
}

.el__title {
  margin: 10px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
}

.el__text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.7;
  text-align: center;
}

.catal__center {
  max-width: 282px;
  margin: 0 auto;
  position: relative;
  top: -90px;
}

.catal__center__title {
  margin: 0 auto;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
}

.catal__center__text {
  position: relative;
  z-index: 12;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  border-bottom: 3px dashed #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 16px;
  margin-top: 15px;
}

.catal__center__text:hover {
  font-weight: 600;
  border-bottom: 3px solid #000000;
}

.catal__center__text:active {
  color: #58FF92;
}

.catal__trow {
  display: flex;
  position: relative;
  top: -205px;
}

.catal__trow__text {
  margin-top: 225px;
  margin-right: 170px;
  width: 280px;
  height: 66px;
}

@media screen and (max-width: 767px) {
  .rope2 {
    display: none;
  }

  .catal__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
  }

  .catal_el:nth-of-type(1) {
  }

  .catal_el {
    width: 130px;
    height: 233px;
  }

  .el__title {
    font-size: 14px;
    line-height: 160%;
    text-align: center;
  }

  .el__text {
    font-size: 14px;
    line-height: 160%;
    text-align: center;
  }

  .catal__frow {}

  .cardimg {
    max-width: 121px;
    max-height: 167px;
  }
}
