/* header */
.header {
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.header__burger {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  margin-bottom: 48px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  max-width: 65px;
  gap: 5px;
  position: relative;
}

.catalog__popup {
  position: absolute;
  top: 29px;
  width: 158px;
  height: 97px;
  background: #ffffff;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  gap: 10px;
}

.catalog__popup__text {
  font-weight: 300;
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  color: #282828;
}

.catalog__popup__text:hover {
  opacity: 0.7;
  transition: all ease 0.3s;
}

.catalog__popup__text:nth-of-type(1) {
  margin-top: 10px;
}

.header__text {
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: #282828;
  margin: 0;
}

.polygon {
  object-fit: contain;
  max-width: 8px;
  max-height: 8px;
  align-self: center;
}

.headerimges {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.like {
  max-width: 20px;
  max-height: 16.67px;
}

.basket {
  max-width: 20px;
  max-height: 19.68px;
}

.logoimg {
  max-width: 140px;
  max-height: 132px;
}

@media screen and (max-width: 767px) {
  .header {
    width:  87.5%;
    align-items: center;
    margin-bottom: 25px;
  }

  .menu {
    display: none;
  }

  .logoimg {
    align-self: start;
    max-width: 80px;
    max-height: 70px;
  }

  .header__burger {
    display: block;
  }

  .headerimges {
    margin-top: 23px;
    gap: 31px;
  }
}
