.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 12;
  opacity: 0;
  transition: all 0.3s ease;
  &__block {
    background-color: white;
    max-width: 600px;
    width: 100%;
    height: 580px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__text {
      max-width: 500px;
      margin: 50px auto;
      &__title {
        text-align: center;
        margin: 0 auto 49px auto;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
      }
      &__text {
        font-size: 14px;
        line-height: 160%;
      }
    }
    &__link {
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 767px) {
  .overlay {
    &__block {
      max-width: 80%;
      border-radius: 30px;
      &__text {
        max-width: 80%;
        &__title {
          font-weight: 400;
          margin-bottom: 30px;
        }
      }
      &__link {
        margin-top: -45px;
      }
    }
  }
}
